.site-footer{
    align-items: start;
    background: $grey-white;
    padding: 80px $marge_wrapper / 2;
    box-shadow: 0px -4px 6px -2px #8685855e;
    .footer-navigation{
        li {
            margin-left: 30px;
            color: $black;
            @extend .FS_20_B;
        }
    }

    .footer-branding{
        img{
            max-width: 164px; 
        }
    }
}



