/*
 Généralité HEADER
 */

.header-container {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0px;
    /* Position the navbar at the top of the page */
    left: 0px;
    margin: auto;
    width: 100%;
    /* Full width */
    box-shadow: 0 4px 6px -2px #8685855e;
    background-color: $grey-white;
    z-index: 999999;
    padding: 30px $marge_wrapper / 2;
}

.header_inner {
    background-color: white;
    position: relative;
    z-index: 999999;
}

.site-branding {
    figure {
        display: grid;
        align-items: center;
    }
}




.main-navigation {
    display: grid;
    align-items: center;
    justify-content: end;

    .menu {
        align-items: center;

        li {
            margin-left: 30px;
            color: $black;
            @extend .FS_20_B;
            &:last-child {
                @extend .btn-medium;
            }
        }

    }

}