



$cols: 12;

$gutter_medium: 50px;

$mobile_first:                      true !default; 
$minimal_breakpoint:                300px !default; 
$medium_breakpoint:                 800px !default; 
$large_breakpoint:                  1200px !default; 
$wide_breakpoint:                   1550px !default; 

$max-width: 1600px;
$marge_wrapper: 200px;

$space_left: 300px;
$space_top: 200px;



@import "mixins/mixins";

@import "variables/structure";
@import "variables/grid";

@import "variables/colors";

