.header {
    width: 100%;
    padding: 1rem 2rem;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #292929bf;
    border-bottom: 3px solid var(--main_bg_blue);

    color: white;
}

.header_nav .menu {
    display: flex;
    gap: 1.5em;

    list-style: none;
}
.header_nav .menu-item > a {
    color: inherit;
    text-decoration: none;
}

.header_searchForm {
    display: none;
}