// Import misc ressources
@use 'miscellaneous' as misc;



/* SEARCH RESULTS */
.search_introSection {
    margin-bottom: 2em;

    .h1, .h2 {
        display: inline-block;
    }

    .results_searchQuery {
        margin-left: .5em;
        font-size: 2em;
    }
}
.main_searchForm {
    margin-bottom: .5em;
    border: 1px solid rgb(202, 209, 194)(0, 0, 0);
}
.archive-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



/* PUBLICATIONS ARCHIVES */
.page-content {
    width: 66%;

    font-size: 1.5em;
    font-weight: 200;

    strong {
        font-weight: 300;
    }

    p:last-child {
        margin: 0;
    }
}
.publications_filters {
    padding-block: 0;

    display: flex;
    justify-content: space-between;
}
.publication-filter.active {
    background-color: misc.$main_bg_blue;

    &:hover {
        background: none;
    }
}
.publication-filter:not(.active){
    background-color: #F8F8F8;
    color: misc.$light-bg-blue;

    &:hover {
        background-color: misc.$light-bg-blue;
        color: white;
    }
}
.filters_group button {
    margin-right: 20px;
}
.publication_tags {
    display: flex;
    align-items: center;
}
.publication_tags li {
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: #95A099;
}
.publication_tags .separator--dot {
    margin-left: 10px;
}
.publication-content {
    margin-bottom: 70px;
}

.publications_itemWrapper {
    align-items: flex-start;
}
.publication_thumbnail {
    width: 100%;
} 
.publication_thumbnail img {
    width: 100%;
    height: auto;
} 
.section_items {
    .post_otherInfos {
        color: misc.$main_font_grey;
    }
    .post_otherInfos > span {
        font-weight: 500;
    }
}


.posts_navigation {
    display: flex;
    justify-content: space-around;
}