// Variables
$main_font_blue: #687BAB;
$light_font_blue: #D9E4FF;
$main_font_grey: #95A099;
$main_font_black: #363636;

$main_bg_blue: #4A62A0;
$light-bg-blue: #698ADE;

$grey-filter: #33333383;


// Resets
* {
    box-sizing: border-box;
}

body {
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;

    font-family: "QuireSansPro";
    font-weight: 300;
    color: $main_font_black;
}

ul[class] {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



// Atomic
.link-block {
    display: block;
    text-decoration: none;
    color: inherit;
}
.separator--dot {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100%;
    background-color: #BDC8C1;
}
.baskerville {
    font-family: "Baskerville";
    font-weight: normal;

    &--italic {
        font-style: italic;
    }
}
.quireSansPro {
    font-family: "QuireSansPro";
    font-style: normal;

    &--italic {
        font-style: italic;
    }
}
.greyFont {
    color: $main_font_grey;
}



// Fonts
// Baskerville
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/baskerville/Baskerville-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Baskerville";
    src: url("../fonts/baskerville/Baskerville-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

// Quire Sans Pro
@font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-extraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
      font-family: "QuireSansPro";
      src: url("../fonts/quire-sans-pro/QuireSansPro-semiBold.otf") format("opentype");
      font-weight: 600;
      font-style: normal;
  }

  @font-face {
    font-family: "QuireSansPro";
    src: url("../fonts/quire-sans-pro/QuireSansPro-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
      font-family: "QuireSansPro";
      src: url("../fonts/quire-sans-pro/QuireSansPro-extraBold.otf") format("opentype");
      font-weight: 800;
      font-style: normal;
  }
    
  @font-face {
      font-family: "QuireSansPro";
      src: url("../fonts/quire-sans-pro/QuireSansPro-black.otf") format("opentype");
      font-weight: 900;
      font-style: normal;
  }