// Import misc ressources
@use 'miscellaneous' as misc;

/* SINGLES */
.single_event_meta {
    margin-bottom: 2em;

    @extend .baskerville;
    text-align: center;
    font-size: 1.4em;

}
.single_excerpt {
    font-size: 1.4em;
    margin-bottom: 2em;
}
.single_excerpt, 
.single_content > p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 0;
}

// PUBLICATION SINGLES
.publication-header {
    margin-bottom: 50px;

    .page-title {
        margin-bottom: 0;

        color: misc.$main_font_blue;
        font-size: 3.5em;
    }
    .post_otherInfos {
        @extend .greyFont;
    }
}
.event_excerpt {
    margin-bottom: 75px;

    @extend .baskerville;
    text-align: center;
}