button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: $primary_color;
    border-radius: 3px;
    background: $primary_color;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 0.6em 1em 0.4em;

    &:hover {
        border-color: $primary_color;
    }

    &:active,
    &:focus {
        border-color: $primary_color;
    }
}


.btn-medium {
    padding: 8px 40px !important;
    background: $blue !important;
    color: $white !important;
    border-radius: 13px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    &:hover {
        color: $white !important;
    }

    a:hover {
        color: $white !important;
    }
}

.btn-big {
    padding: 13px 39px !important;
    background: $blue !important;
    color: $white !important;
    border-radius: 13px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    &:hover {
        color: $white !important;
    }

    a:hover {
        color: $white !important;
    }
}